h2 {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.seccion-receta {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.btn-crear-receta {
    cursor:pointer;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 30px;
    color: white;
    margin: 20px;
}