
header {
    background-image: linear-gradient(rgba(196, 196, 196, 0.71),rgba(196, 196, 196, 0)),url('../../assets/hero.jpg');
    width: 100%;
    background-size: cover;
}

h1,h2,h3{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}



